USE [master]
GO
/****** Object:  Database [USUARIOSDB]    Script Date: 18/06/2020 19:02:19 ******/
CREATE DATABASE [USUARIOSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USUARIOSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\USUARIOSDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'USUARIOSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\USUARIOSDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USUARIOSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USUARIOSDB]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/06/2020 19:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](max) NULL,
	[Pass] [varchar](max) NULL,
	[Icono] [image] NULL,
	[Estado] [varchar](max) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insertar_usuario]    Script Date: 18/06/2020 19:02:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_usuario]
@Usuario as varchar(max),
@Pass varchar(max),
@Icono image,
@Estado varchar(max)
as
if Exists (Select Usuario from Usuarios Where Usuario=@Usuario)
Raiserror('Usuario ya registrado',16,1)
else
insert into Usuarios 
values(@Usuario,@Pass,@Icono,@Estado)
GO
USE [master]
GO
